 {% extends 'backend/base.html.twig' %}
  {% block body %}
<div class="wrapper">
  {% include 'backend/navbar.html.twig' %}
  <!-- Main Sidebar Container -->
  {% include 'backend/sidebar.html.twig' %}             
              <div class="card-body table-responsive p-0">
            <a href="{{ path("backend_recruiter_ajout") }}" class="btn blue">Ajouter</a>
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Email</th>
                      <th>Roles</th>
                      <th>Mobile</th>
                      <th>Profile Image</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for recruiters in recruiter %} 
                    <tr>
                      <td>{{recruiters.id}}</td>
                      <td>{{recruiters.email}}</td>
                      <td>{% for item in recruiters.roles %}{{item}}{% endfor %}</td>
                      <td>{{recruiters.mobile}}</td>
                      <td><img width="40" height="40" src="{{asset('uploads/recruiter/pdp/')}}{{recruiters.profileimage}}"/></td>
                      <td><a href="/backend/recruiter/modifier/{{recruiters.id}}" class="btn blue">Modifier</a>
                    <a href="/backend/recruiter/delete/{{recruiters.id}}" class="btn red " onclick="return confirm('Attention ce ci va supprimer le recruiter')">Supprimer</a>
                    
                    </td>
                    
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
{% endblock %}